extends ../layouts/default

block content
    div(style="padding-left: 5vw; padding-right: 5vw;").jumbotron
        h1 Gist
        .lead Stay informed in 60 words.
        h4 We understand you don’t have time to go through long news articles everyday. So we cut the clutter and deliver them, in 60-word shorts. Short news for the mobile generation.
        a(href='https://play.google.com/store/apps/details?id=com.gist.saldi', target='_blank', title='Get it on Google Play').btn.btn-lg.btn-primary Get it on Google Play
        a(href='https://apps.apple.com/us/app', target='_blank', title='Get it on App store').btn.btn-lg.btn-link Get it on App store

    .row
        .col-sm-8
            h3: a(href='/blog') Blog
            //- p Simple example blog with posts and categories.
            p Posts have a key automatically generated from their name, and support short and extended versions of the content.
            p You can sign in using the demo account to contribute to the blog.
            hr
            h3: a(href='/gallery') Gallery
            p Example of how to set up a page that displays multiple image galleries.
            p Demonstrates usage of single and multi image fields and their resizing methods.
            p You can sign in using the demo account to create and manage image galleries, and upload additional images
            hr
            h3: a(href='/contact') Enquiries
            p Simple contact form that validates input and logs enquiries to the database.
            p You can sign in using the demo account to view the submitted enquiries.
            hr